{{#if raceOnGoingError}}
  <div role="button" {{action "setRaceOnGoingErrorToFalse"}}>
    <PopUp @message = {{this.errorMessageOpenEvent}} @pageError = {{true}} @showClose = {{true}}/>
  </div>
{{/if}}
<div class="container-fluid vh-100">
  <div class="row vh-57">
    <div class="w-100 vh-31">
      <div class="bison-bold">
        <label class="text-white font-italic open-event-text">
          MY VAULT
        </label>
      </div>
    </div>
    <div class="w-100 vh-27">
      <div class="w-100 row">
        {{#each sortedEvents as |event|}}
          {{#if event.is_open }}
            {{#if closeEventPopup}}
              <div role="button" {{action "setShowCloseEventPopupFalse"}}>
                <PopUp @message = {{this.popUpMessageCloseEvent}} @surePopUp = {{true}} @onCloseEvent={{action "editStatusConfirmed" event.id}} @showClose = {{true}}/>
              </div>
            {{/if}}
            <div class="col-md-auto">
              <div class="col">
                <div class="w-100">
                  <div class="row">
                    <div class="col-md-auto">
                      <div class="open-event font-weight-light bg-transparent border border-white">
                        <button class="border-0 bg-transparent teko text-white" {{action "startrace" event}}>
                          {{event.title}}
                        </button>
                        <button class="glyphicon glyphicon-stop align-middle d-inline border-0" {{action "startrace" event}}></button>
                      </div>
                    </div>
                    <div class="col-md">
                      <button class="close-event-button border border-white text-white bg-transparent p-0"{{action "setShowCloseEventPopupTrue" event.id}}>
                        <ul class="cross"></ul>             
                      </button>
                    </div>
                  </div>
                </div>
                <div class="w-100 h-50">
                  <button class="see-result font-weight-light text-white roboto border-0 bg-transparent" {{action "results" event.id}}>
                    see results
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-auto">
              <div class="col-md-1 dotted-spaced left bg-transparent float-left">
              </div>
            </div>
          {{/if}}  
        {{/each}}
        <div class="col-md-auto">
          <button class="col-md plus margin-plus border-0 bg-transparent"{{action "transitionToCreateEvent"}} disabled={{eventStatus}}>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row bg-blue vh-43">
    <div class="w-100 h-20">
      <div class="text-white font-italic bison-bold">
        <label class="close-event-text">
          MY PASSWORDS
        </label>
      </div>
    </div>
    <div class="col"> 
      <div class="row h-100">
        <div class="row col-md-10 vh-20 overflow-auto force-overflow">
          {{#each passwords as |event|}}
              <div class="col-md-12">
                <div class="col">
                  <div class="w-100">
                    <div class="row">
                      <div class="col-3">
                        <label class="text-white border border-white bg-transparent close-event font-weight-light teko">
                          {{event.title}}
                          <label class="glyphicon glyphicon-minus-sign align-middle"></label>
                        </label>
                      </div>                      
                      {{!-- <div class="col-md-auto see-result-close bg-transparent"> --}}
                      <div class="col-3">
                        <button class="roboto transform-text border-0 bg-transparent text-white" {{action "transitionToEditEvent" event.id}} >
                          edit password
                        </button>
                      </div> 
                      <div class="col-3">
                        <button class="roboto transform-text border-0 bg-transparent text-white"{{action "deleteEvent" event.id}}>
                          delete password                          
                        </button>
                      </div>
                      <div class="col-3">
                        <button class="roboto transform-text border-0 bg-transparent text-white"{{action "editStatusReopen" event.id}} disabled={{eventStatus}}>
                          share password                          
                        </button>
                      </div>
                      {{!-- </div> --}}
                    </div>
                  </div>
                </div>
              </div>
          {{/each}}
        </div>
      </div>
    </div> 
  </div>
</div>
{{outlet}}
